<soho-icons-new></soho-icons-new>
<soho-icons-empty-new></soho-icons-empty-new>

<div class="head">
   <div class="title"><svg _ngcontent-amf-c22="" focusable="false" aria-hidden="true" role="presentation" class="icon icon-logo"><use _ngcontent-amf-c22="" href="#icon-logo"></use></svg><span>{{i18n.t('VISION_FORECAST')}}</span></div>
   <div class="version" (click)="showVersion()">V{{ version.version }}</div>
</div>

<div
  soho-busyindicator
  [activated]="isBusy"
  [blockUI]="true"
  [displayDelay]="0"
  [style.padding.rem]="2"
  id="main"
  style="overflow-y: scroll; height: calc(100vh - 40px);"
>
   <app-dashboard/>
</div>

<div id="modal-version" class="hidden">
   <div>
      <svg class="icon about-logo" focusable="false" aria-hidden="true" role="presentation" viewBox="0 0 44 44"><use href="#icon-logo"></use></svg>
   </div>
   <h2>{{version.name}}</h2>
   <div class="ver_desc">
      <p>H5 SDK V{{version.version}}</p>
      <br/>
      <div [innerHTML]="allapi"></div>
      <br/>
      <p>{{i18n.t('copyright')}} <a href="http://www.infor.com">www.infor.com</a>.</p>
      <br/>
      <p>
         Platform: {{system.platform}} <br/>
         Locale: {{locale}} <br/>
         Language: {{language}} <br/>
         Browser: {{browser}} <br/>
         Coockies enabled: {{system.cookieEnabled}}
      </p>
   </div>
   <button (click)="copyToClip()" style="align-self: flex-end;">
      <svg role="presentation" aria-hidden="true" focusable="false" class="icon" id="copy-clip">
         <use href="#icon-copy"></use>
       </svg>
   </button>
</div>
